* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../IMG/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 640px;
    height: 600px;
    margin: 2% auto;
    max-width: 300px;
}

h1, h2, h3 {
    color: white;
}

h1 {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 33px;
}

h3 {
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 28px;
}


img {
    margin-bottom: 30px;
    width: 90px;
}

.container input{
    margin: 1px 0px;
    width: 100%;
    font-size: 13.1px;
    padding: 9px;
    border-radius: 6.6px;
}

.checkbox {
    display: flex;
    margin-left: -8px;
    margin-top: 8.5px;
}

.checkbox .check {
    width: 3%;
    margin-top: 2px;
}


label {
    color: white;
    font-size: 17.4px;
}

.botao {
    background-color: #057af9;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: 15px 0px;
    border-radius: 8px;
    font-size: 25px;
}

